<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <servlet>
        <servlet-name>Items</servlet-name>
        <servlet-class>com.github.umidovalimardon06.Items</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Items</servlet-name>
        <url-pattern>/items</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Example</servlet-name>
        <servlet-class>com.github.umidovalimardon06.Example</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Example</servlet-name>
        <url-pattern>/example</url-pattern>
    </servlet-mapping>


</web-app>